.menu {
  display: none;
  position: absolute;
  top: 60px;
  right: 10px;
  z-index: 1;
  text-align: right;
  opacity: 0;
  animation: opacity 0.5s ease-in-out;
}

.menu li {
  list-style: none;
  margin: 10px 0;
}

.menu a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 2rem;
}

.menu a:hover {
  color: var(--secondary-color);
}

.menuButton {
  position: absolute;
  top: 0;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 40px;
  gap: 0.5rem;
}

.menuIcon {
  width: 20px;
  height: 2px;
  background-color: var(--primary-color);
  margin: 2px;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.menuIcon:before, .menuIcon:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: var(--primary-color);
  transition: all 0.2s ease-in-out;
}

.menuIcon:before {
  top: -8px;
  left: 0;
}

.menuIcon:after {
  bottom: -8px;
  left: 0;
}

.menuOpen {
  display: flex;
  opacity: 1;
  animation: opacity 0.5s ease-in-out;
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.menuToggle .menuIcon {
  transform: rotate(90deg);
}

.menuToggle .menuIcon:nth-child(2) {
  opacity: 0;
}

.menuToggle .menuIcon:nth-child(3) {
  transform: rotate(-90deg);
}

/* @media only screen and (min-width: 768px) {
  .menu {
    display: flex;
    position: static;
    padding: 0;
  }
} */
