.introContact {
  margin: 1rem 0;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: var(--primary-color);
}

.contactItem:hover {
  color: var(--secondary-color);
}

.extLinks {
  margin: 1.25rem 0;
}

.reactIcons {
  color: inherit;
}

.formSubmit {
  width: 8em;
  padding: 0;
  background-color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--background-color);
  border: none;
  cursor: pointer;
  text-align: center;
}

.formSubmit:hover {
  background-color: var(--button-hover-color);
  animation: buttonHover 0.6s ease-in-out;
}

@keyframes buttonHover {
  from {
    background-color: var(--primary-color);
  }
  to {
    background-color: var(--button-hover-color);
  }
}

.nameEmailCont {
  display: flex;
  gap: 0.5rem;
}

@media (max-width: 950px) {
  .nameEmailCont {
    flex-direction: column;
  }
}
